.AppWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  background: #ffb000;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  box-sizing: border-box;
}

.Button:hover {
  background: #ffc000;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  transform: translateY(-1px) scale(1.02);
}

.Button:active {
  background: #ffa000;
  box-shadow: 0 0 0 1px #ffa000;
  transform: translateY(0) scale(1);
}

.Character {
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
  position: relative;
}

.Character:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform: translateY(-5px) scale(1.02);
}

.Character-Name {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 10px;
}

.Characters-List {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.Characters-List img {
  width: 100%;
  height: auto;
}

.Character-Add {
  display: flex;
  border-radius: 100%;
  width: 0px;
  height: 0px;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.Character:hover .Character-Add {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out,
    height 0.2s ease-in-out;
  font-size: 2rem;
}

.Navbar-Container {
  padding: 0 20px;
  margin-block-end: 16px;
  background: #f0f0f0;
  border-bottom: 2px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Navbar-List-Item-Link {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 10px;
}

.Navbar-List-Item-Link:hover {
  color: #ffb000;
  transition: color 0.2s ease-in-out;
}

.Navbar-List-Item-Link.active {
  color: #ffb000;
}

.Navbar-List {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.Search {
  border-radius: 3px;
  margin-block-end: 16px;
  width: 100%;
  box-sizing: border-box;
}

.Search input {
  border: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background: #f0f0f0;
}

.Search label {
  font-size: 0.8rem;
}
